<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slice01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,46}</string>
                <key>spriteSourceSize</key>
                <string>{31,46}</string>
                <key>textureRect</key>
                <string>{{1,1},{31,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,46}</string>
                <key>spriteSourceSize</key>
                <string>{20,46}</string>
                <key>textureRect</key>
                <string>{{133,1},{20,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,46}</string>
                <key>spriteSourceSize</key>
                <string>{20,46}</string>
                <key>textureRect</key>
                <string>{{155,1},{20,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice04_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,45}</string>
                <key>spriteSourceSize</key>
                <string>{24,45}</string>
                <key>textureRect</key>
                <string>{{277,1},{24,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice05_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{377,1},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice06_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{400,1},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice07_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,46}</string>
                <key>spriteSourceSize</key>
                <string>{31,46}</string>
                <key>textureRect</key>
                <string>{{34,1},{31,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice08_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,46}</string>
                <key>spriteSourceSize</key>
                <string>{20,46}</string>
                <key>textureRect</key>
                <string>{{177,1},{20,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice09_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,46}</string>
                <key>spriteSourceSize</key>
                <string>{20,46}</string>
                <key>textureRect</key>
                <string>{{199,1},{20,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice10_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,45}</string>
                <key>spriteSourceSize</key>
                <string>{24,45}</string>
                <key>textureRect</key>
                <string>{{303,1},{24,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice11_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,45}</string>
                <key>spriteSourceSize</key>
                <string>{22,45}</string>
                <key>textureRect</key>
                <string>{{329,1},{22,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice12_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,45}</string>
                <key>spriteSourceSize</key>
                <string>{22,45}</string>
                <key>textureRect</key>
                <string>{{353,1},{22,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice13_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,46}</string>
                <key>spriteSourceSize</key>
                <string>{31,46}</string>
                <key>textureRect</key>
                <string>{{67,1},{31,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice14_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,45}</string>
                <key>spriteSourceSize</key>
                <string>{26,45}</string>
                <key>textureRect</key>
                <string>{{221,1},{26,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice15_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,46}</string>
                <key>spriteSourceSize</key>
                <string>{31,46}</string>
                <key>textureRect</key>
                <string>{{100,1},{31,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice16_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,45}</string>
                <key>spriteSourceSize</key>
                <string>{26,45}</string>
                <key>textureRect</key>
                <string>{{249,1},{26,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boy.png</string>
            <key>size</key>
            <string>{422,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:466924fb0a6fd1f9d45cab67ea1acbe6:e2571ed2aa3bc43d8121be53fe780bac:4f9586d774674a78bae24f6fced21f65$</string>
            <key>textureFileName</key>
            <string>boy.png</string>
        </dict>
    </dict>
</plist>
